.header {
    position: relative;
    text-align: center;
}

.cover-image {
    width: 100%;
    height: auto;
}

.title {
    width: 500px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
