{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Diary</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/diaries/cheatsheet.css' %}">
{% endblock stylesheet %}

{% block body_style %}
class="bg-body-tertiary"
{% endblock body_style %}
{% block content %}
<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center"></div>
</header>
<div class="bd-cheatsheet container-fluid bg-body">
  <section id="components">
    {% for year, year_content in diaries.items %}
    <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">{{ year }}</h2>
    {% for month, month_content in year_content.items %}
      <article class="my-3" id="accordion">
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
          <h3>{{ month }}</h3>
          <a class="d-flex align-items-center" href="/docs/5.3/components/accordion/">Documentation</a>
        </div>
        <div>
          <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">
              <div class="accordion" id="accordionExample{{month}}">
                {% for day, day_content in month_content.items %}
                  {% include "diaries/item.html" %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
    {% endfor %}
  </section>
</div>
{% endblock content %}

