{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>NINE's Project Main</title>
{% endblock title %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}
body
<header id="header" class="u-header">
  header
  <div class="wrapper">
    warpper
    <h1>h1, Project Page</h1>
    <div class="nav-item u-header__nav-item p-2">
      <a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">
        {% comment %} aria-haspopup="true" aria-expanded="false" aria-labelledby="myAccountSubMenu"> {% endcomment %}
        <span class="font-subhead text-dark">로그인</span>
      </a>
    </div>
    {% if apps %}
      <div class="m-3 p-3" style="border:1px solid blue;">
        <h3>Testing apps</h3>
        <ul>
        {% for app in apps %}
        <li>{{ app }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    <nav>
      nav
      <ul class="wrapper">
        warpper
        <hr><hr>
        <li class="nav-button"><a>Lottery</a></li>
        <li class="nav-button"><a>Mat-Map</a></li>
        <li class="nav-button"><a>Chat</a></li>
        <li class="nav-button"><a>Diary</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  main
  <section>article</section>
</main>
<footer>
  footer
</footer>
{% endblock content %}
