.image-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: var(--bs-gray-300);
}

.image-container{
    padding: 0.75rem 0.75rem 2rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--bs-white)
}

.image{
    width: auto;
    height: auto;
    max-width: 15rem;
    max-height: 20rem;
}

.caption{
    position: absolute;
    padding: 0.3rem 0 0 0.3rem;
    color: var(--bs-secondary-text-emphasis);
    font-weight: 400;
    font-size: 0.7rem;
}


@media (max-width: 768px) {
    .image-container{
        padding: 0.65rem 0.65rem 1.7rem 0.65rem;
        border-radius: 0.22rem;
    }

    .image{
        max-width: 10rem;
        max-height: 15rem;
    }
}

@media (max-width: 576px) {
    .image-container{
        padding: 0.65rem 0.65rem 1.7rem 0.65rem;
        border-radius: 0.2rem;
    }

    .image{
        max-width: 8rem;
        max-height: 10rem;
    }
}


.page-container{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.page-prev{
    flex: 1;
    display: flex;
    justify-content: start;
}

.page-current{
    flex: 1;
    display: flex;
    justify-content: center;
}

.page-next{
    flex: 1;
    display: flex;
    justify-content: end;
}
