{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Album</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/albums/main.css' %}">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
{% endblock javascript %}

{% block content %}
<body>
  <div class="m-3 container">
    <div class="h1">
      Album
      {% if person != "" %}
      <div class="h6">for {{ person }}</div>
      {% endif %}
    </div>
    {% if is_test is True %}
    <div>
      <button type="button" onclick="window.location.href='{% url 'albums:upload' %}'">
        새 이미지
      </button>
      debug: {{ is_test }}
    </div>
    {% endif %}

    <div class="m-3">
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
          멤버 선택
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'albums:list' %}">전체</a></li>
        {% for person in people %}
          <li><a class="dropdown-item" href="{% url 'albums:list' %}?person={{ person.name }}">{{ person.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="pt-3 px-3 image-area">
      {% for image in data%}
        <div class="mb-3 mx-2 image-container">
          <div class="image-item">
            <img src="{{ image.origin }}" alt="image" class="image"/>
            {% if image.caption != "" %}
              <div class="caption">{{ image.caption }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    {% comment %} {% include "albums/page_bar.html" %} {% endcomment %}
  </div>
</body>
{% endblock content %}
