{% extends "base.html" %}
{% load static %}

{% block title %}<title>Album</title>{% endblock title %}


{% block content %}
<style>
  .test {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
</style>

<body>
  <div class="m-3 container">
    <h1>Album Main Page</h1>
    <div class="m-3">
      {% if is_test is True %}
      <button type="button" onclick="window.location.href='{% url 'albums:upload' %}'">새 이미지</button>
      Debug: {{ is_test }}
      {% endif %}
    </div>
    <div class="test">
      {% for image in data%}
        <div class="m-4">
          <img src="{{ image.origin }}" alt="image" height="250px"/>
          {% if image.caption != "" %}
            <div>{{ image.caption }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock content %}
